<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myprojects.nicklasgilbertsson.meditation">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.FourthActivity"
            android:label="Yoga"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.FifthActivity"
            android:label="Tea Time"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.FirstActivity"
            android:label="Meditate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.SecondActivity"
            android:label="Silence"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.ThirdActivity"
            android:label="Go Walking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.SixthActivity"
            android:label="Notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.SeventhActivity"
            android:label="Thank somebody"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.EightActivity"
            android:label="Read a book"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.NineActivity"
            android:label="Write"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.TenthActivity"
            android:label="Play"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.EleventhActivity"
            android:label="Nature"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.TwelfthActivity"
            android:label="Goals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.ThirteenActivity"
            android:label="Exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mantra_exercises_activity.FourteenActivity"
            android:label="Friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account_activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account_activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account_activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BottomNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoundActivity"
            android:label="Your sounds"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubscriptionActivity"
            android:label="Subscription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CountdownActivity"
            android:label="Self Meditation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YogaActivity"
            android:label="Yoga"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YogaDetailActivity"
            android:label="Exercises" />
        <activity android:name=".SoundDetailActivity"></activity>
    </application>

</manifest>