<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myprojects.nicklasgilbertsson.meditation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FourthActivity"
            android:label="Yoga" />
        <activity
            android:name=".FifthActivity"
            android:label="Tea Time" />
        <activity
            android:name=".FirstActivity"
            android:label="Meditate" />
        <activity
            android:name=".SecondActivity"
            android:label="Silence" />
        <activity
            android:name=".ThirdActivity"
            android:label="Go Walking" />
        <activity
            android:name=".SixthActivity"
            android:label="Notes" />
        <activity
            android:name=".SeventhActivity"
            android:label="Thank somebody" />
        <activity android:name=".EightActivity" android:label="Read a book"></activity>
    </application>

</manifest>